<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>178c72b9-a6fb-4557-96e7-934d56d29fdc</DefaultValue>
      <Value>178c72b9-a6fb-4557-96e7-934d56d29fdc</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSecret">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSecret']/@value</Match>
      <Description>Value for ClientSecret here.</Description>
      <DefaultValue>6pUwOULgRfBuGB/NUQ0/kL3Od8Xhma99kBxd8tyuVYI=</DefaultValue>
      <Value>6pUwOULgRfBuGB/NUQ0/kL3Od8Xhma99kBxd8tyuVYI=</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demo-sharepoint.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>demo-sharepoint.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>demo-sharepoint</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$demo-sharepoint</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="" />
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>